<link rel="stylesheet" type="text/css" href="__ADMIN__/lib/Validform_v5.3.2/css/style.css">
<body style="background-color:#fff">
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post" action="/admin/link/{{$link.id}}">
        <input type="hidden" name="_method" value="put">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="site_name" value="{{$link.site_name}}" datatype="*2-10" errormsg="长度限制2-10" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="site_url" value="{{$link.site_url}}" datatype="url" errormsg="url格式错误" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="order_by" value="{{$link.order_by}}" datatype="n" errormsg="请输入数字" />
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <a href="/admin/link">
                    <button class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </a>
			</div>
		</div>
	</form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/Validform_v5.3.2/js/Validform_v5.3.2_min.js"></script> 
<script type="text/javascript">

$(".form").Validform();
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
